# This file is a template for the .env file. You should copy this file, rename it, and fill in the real values for the variables.

# The URL of the API, will be used to construct short URLs
BASE_URL=http://localhost:3000

# The URI of the MongoDB database
MONGO_URI=mongodb://database/

# The URI of the Redis database
REDIS_HOST=redis://redis:6379